@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 10px solid #5c48d3;
}

.container {
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
p,
button,
label,
input {
  font-family: Montserrat, sans-serif;
}

h1 {
  max-width: 100%;
  font-weight: 600;
  font-size: 40px;
  color: #3b395a;
  margin-left: 2%;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  color: #3b395a;
}

button {
  font-weight: 500;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  padding: 0 30px;
}

header {
  width: 100vw;
  height: 100px;
  margin: 1% 4% 0 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

header > img {
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 20px 0;
  text-align: center;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 150px);
  /*border: #3b395a 1px solid;*/
}

.full-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14px 0;
}

.field {
  padding: 0 10px;
  margin-top: 8px;
  width: 240px;
  height: 24px;
  border-radius: 6px;
  color: #535079;
  border: 1px solid #5c48d3;
}

.submit-btn {
  margin-top: 10px;
  background-color: #5c48d3;
  color: #fff;
  width: auto;
  height: 40px;
  border-radius: 8px;
  border: none;
}

.field-with-error {
  padding: 0 10px;
  margin-top: 8px;
  width: 240px;
  height: 24px;
  border-radius: 6px;
  color: #535079;
  border: 1px solid #c20000;
}

.error-message {
  font-weight: 500;
  color: #c20000;
}

.result {
  background-color: rgba(183, 190, 219, 0.548);
  border-radius: 6px;
  width: 60%;
  height: 200px;
  margin: 10px auto;
}

.result h2 {
  margin: 20px 30px;
}

footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
  text-align: center;
}
